@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(Skippit.png);
    background-size: cover;
    font-family: "Work Sans","Ubuntu","Original Surfer";
    min-height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column; 
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

header img {
    height: 50px;     
    width: auto;

}
a{
    margin-left: auto;
    text-decoration: none;

}
.btn-github {
  margin-left: auto;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(220, 218, 217, 0.34);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.097), 0 0 10px rgba(255, 255, 255, 0.28);
  color: #e3e2db;
  transform: translate(0, -0.25rem);
}


.main-btn {
    display: flex;
    justify-content: center; 
    width: 100%; 
    gap: 25px;
}

.main-btn button {
    font-weight: lighter;
    color: white;
    border: 0;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#start {
    font-family: "Work Sans";
    min-width: 120px;
    border-radius: 99px;
    color: rgb(237, 233, 233);
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid rgb(255, 42, 0); 
    box-shadow: 0 0 5px rgb(255, 42, 0), 0 0 10px rgb(255, 42, 0); 
    text-align: center;
}

#start:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.097), 0 0 10px rgba(255, 255, 255, 0.28);
  transform: translate(0, -0.25rem);
}

#start:active {
    font-family: "Work Sans";
    font-weight: lighter; 
    border-radius: 99px;
    color: rgb(237, 233, 233);
    border: 0.5px solid orangered;
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 0 5px rgb(255, 42, 0), 0 0 10px rgb(255, 42, 0);
    transform: scale(1);
}

hr {
    border: none;
    border-top: 3px dotted rgba(147, 144, 144, 0.493);
    height: 1px;
    width: calc(100% + 40px); 
    margin: 20px -20px;
}

h2 {
    color: white;
    font-weight: bolder;
    font-size: 33px;
    padding: 10px 0;
    margin: 0;
}

#new-subject{
    font-size: 23px;
    color: #969494;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.attendance-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(card.png);
    background-size: cover;
    width: 100%;
    border-radius: 19px;
    min-height: 260px;  
    padding: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info h2 {
    color: white;
    font-size: 33px;
    margin: 0 0 15px 0;
    padding: 0;
}

.stats {
    color: #b4b4b4; 
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stats p {
    margin: 0;
}

.prediction {
    margin-top: 15px;
    line-height: 1.4;
}

.prediction p {
    margin: 0;
}

.progress-bar {
    position: relative;
    transform: translateX(-20px);
    height: 140px;
    width: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.progress-bar::before {
    -webkit-mask: radial-gradient(closest-side, transparent 80%, black 84%);
    mask: radial-gradient(closest-side, transparent 80%, black 84%);
    content: "";
    position: absolute;
    background: conic-gradient(#0cb303 calc(var(--percent) * 1%), #000000 0deg); 
    inset: 0;
    border-radius: 100%;
}   

.progress-value {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: -25px;
    position: relative;
    z-index: 10;
}

.options p {
    margin: 0;
    padding: 0;
}

#present-option,
#bunk-option,
#cancelled-option {
    width: 60px;
    height: 60px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px dotted rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(176, 223, 246), 0 0 10px rgb(235, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#present-option:active {
    background-image: url(p-btn.png);
    background-size: cover;
}

#bunk-option:active {
    background-image: url(b-btn.png);
    background-size: cover;
}

#cancelled-option.active {
    background-color: #969494;
}


#schedule-view{
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.action-btn{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    gap: 15px;
}
.add-subject,
.edit-btn{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    border-radius:90px;
    font-size:18px;
    padding: 20px;
    background-color: orangered;
    color: white;
    font-family:"Ubuntu";
    font-weight: bolder;
}

.edit-btn img{
    height: 33px;
    width: 100%;
    max-width: 50px;
}
.day-schedule{
    display: flex;
    flex-direction: row ;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.week-card{
    background-color: rgba(255, 255, 255, 0.208);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius:25px;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width:100%;
    max-width: 300px;
    display: flex;
    color: white;
}

.week-card h2{
    margin-top: 40px;
    font-family:"Work Sans";
    font-size: 45px;
    font-weight: bolder;
}

.subject-card{
    background-color: rgba(255, 255, 255, 0.208);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius:25px;
    min-height: auto;
    display: flex;
    margin-top: 30px;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 20px;
}

.subjects p{
    font-size: 30px;
    font-weight: bolder;
}

.empty-state{
    margin-top: 50px;
}

.subjects hr{
    border: none;
    width: 250px;
    border-top: 3px dotted rgba(171, 168, 168, 0.636);
    background-color: transparent;
    height: 1px;
} 

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;            

}

.message p{
    color: #858282;
    font-size: 20px;
}

.message button{
    background-color: orangered;
    padding: 10px 20px;
    cursor: pointer;
    min-width: 120px;
    border-radius: 99px;
    border: 2px solid rgb(224, 220, 220); 
    box-shadow: 0 0 5px rgb(153, 152, 152), 0 0 10px rgba(255, 255, 255, 0.208); 
}
#smth-spc{
    font-family:  "Ubuntu";
    font-size: 16px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}

#summary-mess{
    color: #ffffff;
    font-family: "Original Surfer";
    font-size: 50px;
}

.message img{
    max-width: 20%;
    height: auto;
}
 .app-container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select:none;
 }

#popup{
    position: fixed;        /*Popup fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
 }

 #popup.active{
    visibility: visible;
    opacity:1;
    transition: 0.5s;
 }

 .form{
    flex-wrap: wrap;
    padding: 40px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 50px;
    background-color:rgb(63, 63, 62);
    width: 90%;
    max-width: 400px;
    height: auto;
 }

 .form form{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 30px;
 }

#popup-text{
    text-align: center    ;
    color: #ffffff;
    font-size: 30px;
}

.input-btn{
    width: 100%;
    max-width: 400px;
    border-radius:10px;
    height: 45px;
    box-sizing: border-box;
}

.input-label{
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.input-btn[type=text],
.input-btn[type=number],
.input-btn[type=date]{
    padding-left: 10px;
}


.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 10px;
}

.save-btn{
    display:flex;
    margin-top: 30px;
    margin-left: auto;
}

#save-btn{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    border-radius:90px;
    font-size:18px;
    padding: 20px;
    background-color: orangered;
    color: white;
    font-family:"Ubuntu";
    font-weight: bolder;
} 

select[name='takeation'] {
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    background: transparent;
    border: 1px dashed rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.6);
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    appearance: none; /* Hides default arrow in some browsers */
    -webkit-appearance: none;
    text-align: center;
    text-align-last: center; /* Centers text in select */
}

select[name='takeation'] option {
    background-color: rgb(63, 63, 62);
    color: #ffffff;
    font-weight: bold;
    
}

#schedule-grid {
    display: flex;
    gap: 15px;
    overflow-x: auto; /* Allows scrolling sideways */
    padding-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .app-container {
        padding: 10px;
    }
    
    header img {
        height: 40px;
    }

    .attendance-card {
        padding: 20px;
        min-height: 220px;
    }

    .card-info h2 {
        font-size: 28px;
    }

    .stats {
        font-size: 14px;
    }

    .progress-bar {
        width: 100px;
        height: 100px;
    }

    .progress-value {
        font-size: 24px;
    }

    #present-option,
    #bunk-option,
    #cancelled-option {
        width: 50px;
        height: 50px;
        font-size: 16px;
    }
    
    .options {
        margin-left: -20px;
    }

    .day-schedule{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    #schedule-view{
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .subject-card{
        align-items: center;
        justify-content: center;
    }

    #popup{
        flex-wrap: wrap;
    }
}