body {
    margin: 0;
    padding: 0;
    background-color: #121111;
    color: #f8fafc;
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-container {
    width: 100%;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.tagline {
    color: #6366f1;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}

.card {
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgba(255, 253, 253, 0.1),
                0 2px 4px -1px rgba(171, 170, 170, 0.06);
    margin-bottom: 20px;
    width: 53%;
    display: grid;
    grid-template-columns: 1fr 420px;
    gap: 30px;
    box-sizing: border-box;
   
}

.form-right {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #000000;
}

input {
    width: 100%;
    padding: 12px;
    background-color: #f2ecec;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #000000;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #6366f1;
}


.btn {
    grid-column: 2;
    width: 100%;
    font-weight: bolder;
  background-color: #5c6dec;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(31, 44, 36, 0.15) 0 1px 2px,rgba(127, 149, 135, 0.15) 0 2px 4px,rgba(92, 100, 95, 0.15) 0 4px 8px,rgba(85, 92, 88, 0.15) 0 8px 16px,rgba(70, 76, 72, 0.15) 0 16px 32px;
  color: rgb(254, 254, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.btn:hover {
    background-color: #4f46e5;
}
.weekly_schedule{
  display: flex;
  flex-direction: column;
  align-items:left;
  grid-row: 1;    
  grid-column: 1 ;
  display: flex;
  text-align: center;
}

#week-txt{
    color: #000000;
    font-weight: bolder;
    font-size: 20px;
    
}

.week-btn{
  gap: 0px;
  grid-template-columns: repeat(7, 1fr);
  width: 90%;
  height: 40px;
  padding: 6px;
  display: grid;
  border-radius: 10px;
  background-color: #e9e9ed;

  
    
}

.week-btn button {
    color: rgb(0, 0, 0);
    border: none;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-radius: 9px;
    padding: 12px 0;     
    width: 90%; 
    font-size: 14px;  
    background-color: #e9e9ed;
}

.week-btn button.active{
    background-color:#7624e9 ;
    color: white;
}
  
.input-schedule{
    transform: translateY(20px);
    gap: 20px;
    text-align: left;
    flex-direction: row;
    align-items: left;
}